<%- include("header") %> <!-- Incluir el encabezado común -->

<div class="container">
    <h1>Generador de contraseñas</h1>
    <div>
        <label for="numPalabras">Número de palabras (1-10):</label>
        <input type="number" max="10" min="1" id="numPalabras"><br>
        <div id="texto"></div>
        <button id="boton">Generar contraseña</button>
    </div>
</div>
<!-- Incluir el script de generar contraseña -->
<script src="/js/passwordGenerator.js" defer></script>
<%- include("footer") %> <!-- Incluir el pie de página común -->